.form {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
}

.label {
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   align-items: center;
   font-weight: bold;
}

.label ~ .label {
   margin-top: 1rem;
}

.input,
.textarea {
   max-width: 50%;
   width: 500px;
   margin-top: 0.5rem;
}

.textarea {
   height: 5em;
}

.buttons {
   margin: 1rem;
}

.button {
   padding: 0.5em;
   cursor: pointer;
   background-color: #cf2317;
   border-radius: 10px;
   border-bottom: 5px solid #2a313c;
   border-right: 0px solid #2a313c;
   border-left: 0px solid #2a313c;
   border-top: 0px solid #2a313c;
   outline: none;
   margin-top: auto;
   color: #fff;
}
.button:active {
   border-bottom: 0px solid #2a313c;
   margin-top: 5px;
}

.button ~ .button {
   margin-left: 1rem;
}
